
<!-- SECTION: APP DOWNLOAD -->
<section id="downloads">


	<!-- ELEMENT: STRIPE -->
	<div class="stripe stripe-center position-absolute background-contain background-repeat background-white send-to-back" data-image="assets/backgrounds/pattern-01.svg"></div>
	<!-- // ELEMENT: STRIPE -->


	<!-- GRID -->
	<div class="grid-x grid-margin-x grid-padding-x align-center align-middle small-up-1 medium-up-2 center-element width-xl">


		<!-- CELL -->
		<div class="cell small-order-1 medium-order-1 padding-none text-center dzsparallaxer auto-init" data-options='{ direction: "reverse", settings_mode: "oneelement", mode_scroll: "normal", animation_duration: "10", easing: "easeInOutSine", settings_mode_oneelement_max_offset: "50" }'>


			<!-- IMAGE: DESKTOP -->
			<!--
			<picture>
				<source srcset="assets/ui-generic-laptop-template.webp" type="image/webp" class="width-full is-desktop">
				<source srcset="assets/ui-generic-laptop-template.png" type="image/png" class="width-full is-desktop"> 
				<img src="assets/ui-generic-laptop-template.png" alt="Desktop" class="width-full img-preload is-desktop">
			</picture>
			-->
			
			
			<img data-src="assets/ui-generic-laptop-template.png" alt="Desktop" class="width-full center-element lazy is-desktop"/>
			<!-- IMAGE: DESKTOP -->


			<!-- IMAGE: MOBILE -->
			<!--
			<picture>
				<source srcset="assets/ui-generic-mobile-template.webp" type="image/webp" class="width-full is-mobile">
				<source srcset="assets/ui-generic-mobile-template.png" type="image/png" class="width-full is-mobile"> 
				<img src="assets/ui-generic-mobile-template.png" alt="Mobile" class="position-absolute center-vh center-vh-clear-mobile img-xl img-preload is-mobile">
			</picture>
			-->
			
			
			
			<img data-src="assets/ui-generic-mobile-template.png" alt="Mobile" class="img-xl center-element lazy is-mobile"/>
			<!-- // IMAGE: MOBILE -->


			<!-- IMAGE: MOBILE -->
			<!--<img src="assets/ui-generic-tablet-template.webp" alt="Tablet" class="position-absolute center-vh center-vh-clear-mobile is-tablet"/>-->
			<!-- // IMAGE: MOBILE -->


		</div>
		<!-- // CELL -->


		<!-- CELL -->
		<div class="cell small-order-2 medium-order-2 padding-bottom-none round-md background-white box-shadow-xl dzsparallaxer auto-init" data-options='{ direction: "normal", settings_mode: "oneelement", mode_scroll: "normal", animation_duration: "20", easing: "easeInOutSine", settings_mode_oneelement_max_offset: "50" }'>


			<!-- IMAGE -->
			<svg class="position-absolute wh-xxs center-element top-offset" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">

				<title>Download</title>
				<circle cx="100" cy="100" r="100" style="fill:#6400fa"/>
				<rect x="64.48" y="47.48" width="73.77" height="8.2" style="fill:#fff"/><rect x="64.48" y="63.87" width="73.77" height="10.93" style="fill:#fff"/><polygon points="138.25 118.52 138.25 80.27 64.48 80.27 64.48 118.52 50 118.52 100 168.52 150 118.52 138.25 118.52" style="fill:#fff"/>

			</svg>
			<!-- // IMAGE -->


			<!-- COPY -->
			<h2 class="p6 text-secondary text-center">Download the Free AXEL App Today!</h2>
			<p class="hide">
			The AXEL app is like a companion in your back pocket. Your content, your rules. Easy access anytime, anywhere, all day, every day. It's that simple.
			</p>
			<!-- // COPY -->


			<!-- BUTTONS: DESKTOP -->
			<div class="button-group expanded stacked-for-small margin-tb-md is-desktop">

				<a href="https://www.axel.org/tackapp/AXELTackApp_Win.exe" target="_blank" class="p2 text-uppercase round-full button button-fx-secondary external"><span class="fa fa-windows margin-right-xs" aria-hidden="true"></span>For Windows</a>

				<a href="https://www.axel.org/tackapp/AXELTackApp_Mac.dmg" target="_blank" class="p2 text-uppercase round-full button button-fx-secondary external"><span class="fa fa-apple margin-right-xs" aria-hidden="true"></span>For macOS</a>

			</div>
			<!-- // BUTTONS: DESKTOP -->


			<!-- BUTTONS: MOBILE -->
			<div class="button-group expanded stacked-for-small margin-tb-md is-mobile">

				<a href="https://itunes.apple.com/us/app/stoamigo/id708142788" target="_blank" class="p2 text-uppercase round-full button button-fx-secondary is-ios external"><span class="fa fa-apple margin-right-xs" aria-hidden="true"></span>For iOS</a>

				<a href="https://play.google.com/store/apps/details?id=com.stoamigo.storage" target="_blank" class="p2 text-uppercase round-full button button-fx-secondary is-android external"><span class="fa fa-android margin-right-xs" aria-hidden="true"></span>For Android</a>


			</div>
			<!-- // BUTTONS: MOBILE -->


			<p class="margin-bottom-sm text-center is-desktop"><a href="download#mobile-apps" class="text-secondary text-accent-hover text-bold">Also available for iOS &amp; Android.</a></p>


		</div>
		<!-- // CELL -->


	</div>
	<!-- // GRID -->


</section>
<!-- // SECTION: APP DOWNLOAD -->
